---
import { Icon } from "astro-icon/components";
const { title, icon } = Astro.props;
---

<div class="collapse collapse-arrow duration-500">
  <input aria-label={title} type="checkbox" />
  <div class="collapse-title font-bold tracking-tight text-xl">
    <div class="flex">
      <Icon name={icon} class="w-8 h-8 mr-4" />
      {title}
    </div>
  </div>
  <div class="collapse-content">
    <slot />
  </div>
</div>
